<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" href="../../lib/layui/css/layui.css">
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/vue.js"></script>
    <script src="../../lib/layui/layui.js"></script>
    <script src="../../lib/websocket.js"></script>
    <script>
        layui.use('element', function(){
            var element = layui.element;
            element.on('nav(demo)', function(elem){
                layer.msg(elem.text());
            });
        });
    </script>
</head>
<body>
    <div th:fragment="header">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item"><a href="http://www.seekerhut.com/">网站主页</a></li>
            <li class="layui-nav-item layui-this"><a href="/">论坛主页</a></li>
            <li class="layui-nav-item"><a href="/random/">随机进入</a></li>
            <li class="layui-nav-item" id="curForum" hidden><a href="">当前论坛</a></li>
        </ul>
    </div>
</body>
</html>
